<agm-map  [latitude]="depo.latitude" [longitude]="depo.longitude" [zoom]="10">
  <agm-marker [latitude]="depo.latitude" [longitude]="depo.longitude"></agm-marker>

  <agm-marker *ngFor="let deliveryPackage of packages | async"
    [latitude]="deliveryPackage.destination.latitude"
    [longitude]="deliveryPackage.destination.longitude">
    <agm-info-window>
      {{ deliveryPackage | json}}
    </agm-info-window>
  </agm-marker>


  <agm-circle *ngFor="let drone of busyDrones"
              [clickable]="'true'"
              [draggable]="'false'"
              [fillColor]="'rgb(255, 0, 0)'"
              [latitude]="drone.location.latitude"
              [longitude]="drone.location.longitude"
              [radius]="30"
              >
  </agm-circle>

  <agm-circle *ngFor="let drone of availableDrones"
              [clickable]="'true'"
              [draggable]="'false'"
              [fillColor]="'rgb(0, 0, 255)'"
              [latitude]="drone.location.latitude"
              [longitude]="drone.location.longitude"
              [radius]="30"
  >
  </agm-circle>

</agm-map>

<md-card>
  <md-card-title>Raw results</md-card-title>
  <md-card-content>
    {{this.results | json }}
  </md-card-content>
</md-card>

  <div fxLayout>
    <md-card>
      <md-card-title>Assigned</md-card-title>
      <md-card-content>
        <ul>
          <li *ngFor="let assignedPackage of this.results.assigned"> PackageId: {{ assignedPackage.packageId }}, DroneId:
            {{ assignedPackage.droneId }}
          </li>
        </ul>
      </md-card-content>

    </md-card>


    <md-card>
      <md-card-title>Unassigned Packages:</md-card-title>
      <md-card-content>
        <ul>
          <li *ngFor="let unassignedPackage of this.results.unassigned"> {{ unassignedPackage }}</li>
        </ul>
      </md-card-content>
    </md-card>


  </div>
